.menu {
    display: flex;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
}

.navlink {
    display: flex;
    width: 100%;
}

.navlink ul {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
   
    height: 100%;
    width: 100%;
    background-color: #000;
}


.navlink li a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.navlink li a:hover {
    background-color: #1b1b1b;
}

.navlink li {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navlink img {
    height: 30px;
    margin-right: 10px;
}